# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf

# CSV files
*.csv text eol=lf

# Ensure shell scripts are executable
*.sh text eol=lf
